<h2><%- title %></h2>
<h4>
    <small><%- prettydate %></small>
    <span class="pull-right">
        <a class="btn btn-default btn-xs" role="button" target="_blank" href="<%- link %>">
            <%- mainsourcename %>
        </a>
    </span>
</h4>
<pre><%- piecenews %></pre>
