<input type="hidden" class="article-date" name="article-date" value="<%- pubdate %>">
<div class="row">
    <div class="col-md-9">
        <h4 class="list-group-item-heading">
            <small><%- prettyHour %></small> <%- title %>
        </h4>
    </div>
    <div class="col-md-3">
        <span class="pull-right">
            <a class="btn btn-default btn-xs" role="button" target="_blank" href="<%- link %>">
                <%- mainsourcename %>
            </a>
        </span>
    </div>
</div>
